DISCORD_BOT_TOKEN=<your discord bot token>

REDIS_URL=<your redis url> # local redis url is `redis://localhost:6379/0`
MONGO_URL=<your mongo url> # local mongo url is `mongodb://localhost:27017`
AI_ASSISTANCE_URL=<your ai assistance api url> # used if the AI cog is enabled, e.g., `localhost:8080`

ENV=dev # dev, prod, test
DEV_GUILD_ID=<your testing discord server id> # only available if `ENV=dev`
